@model AIR_SVU_S19.Models.Files
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>AIR Homework SVU-S19 | Yazan - Hamid - Tareq</title>
    <meta charset="UTF-8">
    <meta name="description" content="AIR Homework SVU-S19 | Yazan - Hamid - Tareq">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body onload="validation()">
    <!-- Header section  -->
    <header class="header-section clearfix">
        <div style="width:100%;background-color:black;height:5px">
        </div>

        <div class="site-navbar">
            <!-- Logo -->
            <a href="~/Home/index" class="site-logo">
                <img src="~/img/logo.png" alt="" />
            </a>
            <div class="header-right">
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/phone.png" alt="" class="" />
                    </div>
                    <div class="hib-text">
                        <h6>+963 11 2113469</h6>
                        <p>www.svuonline.org</p>
                    </div>
                </div>
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/map-marker.png" />
                    </div>
                    <div class="hib-text">
                        <h6>Main Str, no 23</h6>
                        <p>SY, Damascus 23589</p>
                    </div>
                </div>
                <button class="search-switch"><i class="fa fa-search"></i></button>
            </div>
            <!-- Menu -->
            <nav class="site-nav-menu">
                <ul>
                    <li class="active"><a href="~/Home/index">Home</a></li>
                    <li>
                        <a href="#">Students</a>
                        <ul class="sub-menu">
                            <li><a href="#">Hamid_109490</a></li>
                            <li><a href="#">Tarek_109843</a></li>
                            <li><a href="#">Yazan_112868</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Home/About">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div style="background:#fa4251; height:6px">
        </div>
    </header>
    <!-- Header section end  -->
    <div id="page-container" style="background:#ffffff;padding-top:25px;height:1000px;background-color:#2196f3">
        <br />
        <h1 style="font-family:Al-Jazeera-Arabic;font-size:40px ;font-weight:500;text-align:center;text-decoration-line:underline;">اعداد الطلاب</h1>
        <br />
        <div class="row  justify-content-center">
            <div class="col-md-2">
                <h5 style="text-align:center ;margin-bottom:5px ;">ID : <b>Yazan_112868</b></h5>
                <h6 style="font-family:Al-Jazeera-Arabic;text-align:center ;color:black">يزن بهجت اسود</h6>
            </div>
            <div class="col-md-2">
                <h5 style="text-align:center ;margin-bottom:5px">ID : <b>Tarek_109843</b></h5>
                <h6 style="font-family:Al-Jazeera-Arabic ;text-align:center ;color:black">طارق علي الخليلي</h6>
            </div>
            <div class="col-md-2">
                <h5 style="text-align:center ;margin-bottom:5px">ID : <b>Hamid_109490</b></h5>
                <h6 style="font-family:Al-Jazeera-Arabic ;text-align:center ;color:black">حميد كنو عبيد</h6>
            </div>
        </div>
        <hr />
        <br />
        <div id="content-wrap">
            <h1 style="        font-family: Al-Jazeera-Arabic;
        font-size: 40px;
        text-align: center;
        text-decoration-line: underline;
        color: #ffc000">
                صفحة الاعــدادات
            </h1>
            @using (Html.BeginForm("Mainpulation_Text", "Home", FormMethod.Post))
            {
                <br />
                <div class="row justify-content-center">
                    <div class="col-md-offset-2 col-md-4">
                        <label for="fileInput" class="custom-file-upload" style="background-color:white">
                            <i class="fa fa-cloud-upload"></i> Select Files For Upload
                        </label>
                        <input id="fileInput" multiple type="file" />
                        <input id="uploader" type="button" value="Upload file" class="btn btn-outline-warning form-control" />
                        <br /> <br />
                        @Html.DropDownList("Lang", new SelectList(
            new List<SelectListItem>
            {
                new SelectListItem {Text = "العربية", Value = "arabic"},
                new SelectListItem {Text = "English", Value = "english"},
            }, "Value", "Text"), new { @class = "form-control" })
                        <br />
                        @Html.DropDownList("Algorithm", new SelectList(
            new List<SelectListItem>
            {
                            new SelectListItem {Text = "ISRI", Value = "arabic"},
                            new SelectListItem {Text = "Porter", Value = "english"},
            }, "Value", "Text"), new { @class = "form-control" })
                        <br />
                        <input style="text-align:center;font:bold;font-family:Al-Jazeera-Arabic;display:inline;margin-left:25px" name="Password" type="text" class="input-group-text " placeholder="كلمة المرور" />
                        <input style="text-align:center;font:bold;font-family:Al-Jazeera-Arabic;display:inline" name="userName" type="text" class="input-group-text " placeholder="مدير النظام" />
                        <br />
                        <br />
                        <input style="font-family:Al-Jazeera-Arabic;font-size:large" type="submit" id="Manp" value="فهرسة الملفات المرفوعة" class="btn-warning form-control " />
                    </div>
                </div>
            }
        </div>
        <br />
        <a href="~/Home/Relevant_Docs"> <h1 style="font-family:Al-Jazeera-Arabic;font-size:30px ;text-align:center;color:#ffc000"><<< الانتقال الى صفحة البحث</h1></a>

    </div>
    <style>
        input[type="file"] {
            display: none;
        }

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        #page-container {
            position: relative;
            min-height: 100vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem; /* Footer height */
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem; /* Footer height */
        }
    </style>
    <!-- footer Section -->
    <div class="footer" style="bottom:0;background-color:#ffc000;height:5px;"></div>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 9px;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>
    <!-- end footer Section -->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!--====== Javascripts & Jquery ======-->

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script>
        document.getElementById('uploader').onclick = function () {
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('fileInput');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Home/Upload');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
            return false;

             alert("رفع الملفات موقف حاليا بسبب الحجم المخصص في الاستضافة وتجنبا لسلامة قاعدة البيانات");
        }
    </script>

    <script>
        document.getElementById('indexing').onsubmit = function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Home/Mainpulation_Text');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText);
                }
            }
            return false;
        }

        function validation()
        {
            alert("@ViewBag.ResultManpulation");
        }
    </script>

</body>

</html>
