@model IEnumerable<AIR_SVU_S19.Models.Files>

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>AIR Homework SVU-S19 | Yazan - Hamid - Tareq</title>
    <meta charset="UTF-8">
    <meta name="description" content="AIR Homework SVU-S19 | Yazan - Hamid - Tareq">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body onload="validation()">
    <!-- Page Preloder -->
    <!-- Header section  -->
    <header class="header-section clearfix">
        <div style="width:100%;background-color:black;height:5px">
        </div>
        <div class="site-navbar">
            <!-- Logo -->
            <a href="~/Home/index" class="site-logo">
                <img src="~/img/logo.png" alt="" />
            </a>
            <div class="header-right">
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/phone.png" alt="" class="" />
                    </div>
                    <div class="hib-text">
                        <h6>+963 11 2113469</h6>
                        <p>www.svuonline.org</p>
                    </div>
                </div>
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/map-marker.png" />
                    </div>
                    <div class="hib-text">
                        <h6>Main Str, no 23</h6>
                        <p>SY, Damascus 23589</p>
                    </div>
                </div>
                <button class="search-switch"><i class="fa fa-search"></i></button>
            </div>
            <!-- Menu -->
            <nav class="site-nav-menu">
                <ul>
                    <li class="active"><a href="~/Home/index">Home</a></li>
                    <li>
                        <a href="#">Students</a>
                        <ul class="sub-menu">
                            <li><a href="#">Hamid_109490</a></li>
                            <li><a href="#">Tarek_109843</a></li>
                            <li><a href="#">Yazan_112868</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div style="background:#fa4251; height:6px">
        </div>

    </header>
    <!-- Header section end  -->
    @*class="row justify-content-center"  for center content *@
    <div style="background-color:#2196f3;">
        <link href="~/css/main_SearchBox.css" rel="stylesheet" />
        <div class="s013">
            @using (Html.BeginForm("ResultSearch", "Home", FormMethod.Get))
            {

                <form>
                    <fieldset>
                        <legend style="font-family:Al-Jazeera-Arabic;font-size:40px ;text-align:center;text-decoration-line:underline;color:#ffc000; margin-right: 10px;">صفحة البحث</legend>
                    </fieldset>
                    <div class="inner-form">
                        <div class="left">
                            <button class="btn-search" type="submit" style="font-family:Al-Jazeera-Arabic;font-size:30px ;height: 100px;text-align:center;">بحث</button>
                            <div class="input-wrap first" style="height: 100px">
                                <div class="input-field first">
                                    <label style="text-align:right;font:bold;font-family:Al-Jazeera-Arabic;margin-bottom:4px;font-size:14px">ماذا ؟</label>
                                    <input style="text-align:right;font:bold;font-family:Al-Jazeera-Arabic;" name="TxT_Search_Key" type="text" placeholder=". . . . تريد البحث عنه" />
                                </div>
                            </div>
                            <div class="input-wrap second" style="height: 100px">
                                <div class="input-field second">
                                    <label style="text-align:right;margin-bottom:2px;font:bold;font-family:Al-Jazeera-Arabic;font-size:14px">: نموذج البحث</label>
                                    <div class="input-select">
                                        <select data-trigger="" name="AlgorithmRetrieve">
                                            <option Value="boolean">Boolean Model</option>
                                            <option Value="ex_boolean">Extend Boolean Model</option>
                                            <option Value="vector_space">Vector Space model</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
        <script src="~/js/choices.js"></script>
        <script>
            const choices = new Choices('[data-trigger]',
                {
                    searchEnabled: false,
                    itemSelectText: '',
                });

        </script>

        <!-- footer Section -->
        <div class="footer">
            <h5 style="text-align:center ;color:black;display: inline"><b>Yazan_112868</b></h5>
            <h5 style="text-align:center ;color:black;margin:0 25px 0 25px;display: inline"><b>Tarek_109843</b></h5>
            <h5 style="text-align:center ;color:black;display: inline"><b>Hamid_109490</b></h5>
        </div>
        <div class="footer" style="bottom:0;background-color:#ffc000;height:5px;"></div>
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 9px;
                width: 100%;
                color: white;
                text-align: center;
            }
        </style>
    </div>


    <div id="id01" class="modal">
        <form style="width:35%" class="modal-content animate" action="/action_page.php" method="post">
            <div style="width:100%;height:35px">
                <span style="margin-bottom:5px;height:5px;width:5px" onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <h1 style="text-align:center;font-size:large ;font-family:Al-Jazeera-Arabic;">المعاملات البوليانية الانكليزية ومايقابلها باللغة العربية</h1>
            <h1 style="text-align:center;font-size:large;color:fuchsia ;font-family:Al-Jazeera-Arabic;">----------------------------------------------</h1>
            <p id="desc" style="height:175px ;text-emphasis:circle;font-size:xx-large;color:black ;font-family:Al-Jazeera-Arabic; text-align:center">
                and = و <br />
                or = أو , او <br />
                not = دون
            </p>
            <h1 style="text-align:center;font-size:large ;color:fuchsia;font-family:Al-Jazeera-Arabic;">----------------------------------------------</h1>
            <div style="padding:5px 45% 25px 45%">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>


    <style>
/* Set a style for all buttons */

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
    </style>

    <script>
        function validation() {
            document.getElementById('id01').style.display = 'block';
        }
    </script>

    <!-- End footer Section -->
    <!-- Search model end -->
    <!--====== Javascripts & Jquery ======-->
    @*<script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/circle-progress.min.js"></script>
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/jquery.slicknav.min.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>*@
</body>

</html>
