@model IEnumerable<AIR_SVU_S19.Models.Files>

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>AIR Homework SVU-S19 | Yazan - Hamid - Tareq</title>
    <meta charset="UTF-8">
    <meta name="description" content="AIR Homework SVU-S19 | Yazan - Hamid - Tareq">
    <meta name="keywords" content="industry, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <!-- Main Stylesheets -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header section  -->
    <header class="header-section clearfix">
        <div style="width:100%;background-color:black;height:5px">
        </div>

        <div class="site-navbar">
            <!-- Logo -->
            <a href="index" class="site-logo">
                <img src="~/img/logo.png" alt="" />
            </a>
            <div class="header-right">
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/phone.png" alt="" class="" />
                    </div>
                    <div class="hib-text">
                        <h6>+963 11 2113469</h6>
                        <p>www.svuonline.org</p>
                    </div>
                </div>
                <div class="header-info-box">
                    <div class="hib-icon">
                        <img src="~/img/icons/map-marker.png" />
                    </div>
                    <div class="hib-text">
                        <h6>Main Str, no 23</h6>
                        <p>SY, Damascus 23589</p>
                    </div>
                </div>
                <button class="search-switch"><i class="fa fa-search"></i></button>
            </div>
            <!-- Menu -->
            <nav class="site-nav-menu">
                <ul>
                    <li class="active"><a href="index">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li>
                        <a href="#">Solutions</a>
                        <ul class="sub-menu">
                            <li><a href="#">Elements</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div style="background:#2196f3; height:6px">
        </div>
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
    </header>
    <!-- Header section end  -->
    @*class="row justify-content-center"  for center content *@
<div style="background:#ffffff;padding-top:100px;margin-bottom:300px; height:1000px">
    <h1 style="font-family:Al-Jazeera-Arabic;font-size:40px ;text-align:center;text-decoration-line:underline;color:#ffc000">صفحة البحث</h1>
    <br />
    <hr />
    <div class="s013">
        <form>
            <fieldset>
                <legend>QUICK FIND YOUR CITY</legend>
            </fieldset>
            <div class="inner-form">
                <div class="left">
                    <div class="input-wrap first">
                        <div class="input-field first">
                            <label>كلمة البحث</label>
                            <input type="text" placeholder="اكتب هنا ماتريد البحث عنه " />
                        </div>
                    </div>
                    <div class="input-wrap second">
                        <div class="input-field second">
                            <label>WHERE</label>
                            <div class="input-select">
                                <select data-trigger="" name="choices-single-defaul">
                                    <option placeholder="">1 adult</option>
                                    <option>2 adults</option>
                                    <option>3 adults</option>
                                    <option>4 adults</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn-search" type="button">SEARCH</button>
            </div>
        </form>
    </div>
    <script src="~/js/extention/choices.js"></script>
    <script>
        const choices = new Choices('[data-trigger]',
            {
                searchEnabled: false,
                itemSelectText: '',
            });

    </script>
    <hr />
    <br />
    @using (Html.BeginForm("ResultSearch", "Home", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                <div class="container justify-content-center row">
                    <div class="col-md-3 ">


                        @Html.Editor("TxT_Search_Key", "This is value", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-3 ">
                        @Html.DropDownList("AlgorithmRetrieve", new SelectList(
                 new List<SelectListItem>
                 {
                                new SelectListItem {Text = "Boolean Model", Value = "boolean"},
                                new SelectListItem {Text = "Extend Boolean Model", Value = "ex_boolean"},
                                 new SelectListItem {Text = "Vector Space model", Value = "vector_space"},
                 }, "Value", "Text"), new { @class = "form-control", @id = "AlgorithmRetrieve" })
                    </div>
                </div>
                <br />
                <div class="container" style="width:15%">
                    <input style="font-family:Al-Jazeera-Arabic;font-size:large" type="submit" id="Manp" value="بحث" class="btn btn-success form-control " />
                </div>
            </div>
        </div>
    }
    <br />
    <br />
</div>
    <!-- footer Section -->
    <div class="footer">
        <h5 style="text-align:center ;color:black;display: inline"><b>Yazan_112868</b></h5>
        <h5 style="text-align:center ;color:black;margin:0 25px 0 25px;display: inline"><b>Tarek_109843</b></h5>
        <h5 style="text-align:center ;color:black;display: inline"><b>Hamid_109490</b></h5>
    </div>
    <div class="footer" style="bottom:0;background-color:#ffc000;height:5px;"></div>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 9px;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>
    <!-- end footer Section -->
    <!-- Search model -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>

</html>
